div.popup_window { z-index: 1; }

div.popup_window div.form_header
{
  border: 1px solid black;
  border-bottom: none;
  width: 600px;
  height: 25px;
  line-height: 19px;
  vertical-align: middle;
  background-color: #069;
  text-decoration: none;
  font-family: Times New Roman, Serif;
  font-weight: 900;
  font-size:  15px;  
  color:   white;
  cursor:  default;
}

div.popup_window div.form_body
{
  width: 600px;
  border: 1px solid black;
  background-color: #F3F6FF;
}

div.popup_window img.form_exit
{
  float:  right;
  margin: 4px 5px 0px 0px;
  cursor: pointer;
}

div.popup_window table
{
  width: 100%;
  border-collapse: collapse;
}

div.popup_window th
{  
  padding: 0px 5px 1px 0px;

  text-align: left;

  font-family: Times New Roman, Serif;
  font-weight: 900;
  font-size:  13px;
  color:   #004060;
}

div.popup_window td
{
  width: 80%;
  padding: 0px 0px 1px 0px;
}

div.popup_window form
{
  margin:  0px;
  padding: 8px 10px 10px 10px;
}
400px
div.popup_window input.field
{
  width: 80%;
  border: 1px solid #808080;

  font-family: Verdana, Sans-Serif;
  font-size: 12px;
}


